# Logical Conjunctions

We have previously examined the subject of logical conjunctions under the topic "Mathematical Operators and Logical Operators".
Now let's go over it briefly again.

## and operator

This logical conjunction ensures that the result of all comparison operations is True. If the result of all the connected comparison operations is **True**, the general result is **True**, in other cases the result is **False**. Its usage is as follows.

In [17]:
5 < 6 and "George" == "George"

True

In [18]:
5 > 6 and "George" == "George"

False

In [19]:
5 == 5 and 3.14 > 2.54 and "Apple" != "Pear"

# 5==5'in değeri True
# 3.14 > 2.54'in değeri True
# "Elma" != "Armut" in değeri True olduğu için aslında

# True and True and True işlemi gerçekleşti.
# burasa işlemlerden bir tanesinin sonucu False olursa bu değer bize false olarak döner

True

In [ ]:
5 == 5 and 3.14 > 2.54 and "Apple" != "Pear"

# Value of 5==5 is True
# The value of 3.14 > 2.54 is True
# Actually since the value of "Apple" != "Pear" is True

# True and True and True has been processed.
# If the result of one of the operations here is False, this value will be returned to us as false

## or operator

This logical conjunction checks that at least one of the results of all comparison operations is **True**. If **at least one of the connected comparison operations is True**, the general result is **True**, otherwise the result is **False**. Its usage is as follows.

In [1]:
5 < 1 or "George" == "George"
# The value of 5 < 1 is False.
# The value of "George" == "George" is True

# False or True operation was performed here. The result will be True.

True

In [2]:
2 > 3 or "Murat" != "Murat"

False

In [3]:
2 > 3 or "Murat" != "Murat" or 3.14 < 4.32

True

## not operator

The *not* operator is not actually a logical conjunction. This operator simply converts a logical value or comparison operation to the opposite result. That is, the not operator converts a result of **True** to **False**, and a result of **False** to **True**. Its usage is as follows.

In [5]:
not 2 == 2
# actually the value of 2==2 is True here.
# not True makes the operation
# value returns False

False

In [6]:
not "Python" == "Php"

True

## in operator

We have seen the concept of "in" in the subject of Sequences. It is a Boolean expression, that is, true-false. It is used as x in s. It returns true if the element x is in the array s, otherwise false.

In [8]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

1 in l

True

## not in operator

It is the inverse of the in operator

In [9]:
l = [1,2,3,4,5,6,7,8,9]

1 not in l

False

## is operator

Checks whether two objects are the same object. The result is returned Boolean (True) (False). is is used for vocabulary testing if two variables refer to the same object.

Returns True if two objects are the same object.

Even if two objects contain the same values, if they are different objects, the result returns False.

So use the == operator to test whether two variables are equal.

In [17]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# Returns true because z and x are the same object.

print(x is y)

# Returns False even if x and y have the same value because they are not the same object.

print(x == y)

# Returns true because x and y have the same value.

True
False
True

In [18]:
print((y is z))
# Why is it returned true even though y and z are different objects??????
# now let's look at their ids.
print(id(y))
print(id(z))

#Yes, these are the same object because their ids are the same.

#Let's create two tuples. Let's look at their ids.
tuple1 = (1 ,2, 3, 4, 5)

tuple2 = (1, 2, 3, 4, 5)

print(id(tuple1))
print(id(tuple2))

# the ids of these two tuples are the same.

## The current implementation maintains an array of integer objects for all integers between -5 and 256,
# when you create an int in this range, you actually just get back a reference to the current object.
# So it should be possible to change the value of 1. I suspect Python's behavior is undefined in this case. :-)
# https://stackoverflow.com/questions/306313/is-operator-behaves-unexpectedly-with-integers

k = 257
l = 257

print(k is l) # This also returns false :)

False
2846128948096
2846128990336
2846128938000
2846128934720
False

## is not operator

It is the inverse of the is operator.

In [19]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)


print(x is not y)


print(x == y)

False
True
True

### Using Operators Together

Since using the 5 operators we see here together will cause complexity, we can use *brackets*.

In [29]:
l = ["a","b","c","d","e"]

y = 5
z = 5

"a" in l and (5==5 or "Amy"=="Julia") and not (y is z)

False

In [21]:
"a" in l

True

In [22]:
5 == 5 or "George" == "Michael"

True

In [23]:
"Car" < "Judge" and ( "Baby" < "Child" or (not 14 ))

True

In [27]:
l1 = [1,2,3]
l2 = [1,2,3]

l1 is l2

False